/* Global */
* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
    padding: 10px;
    color: #191970;
}
/* End Global */

/*Header*/
    /* Page Title */
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        padding-top: 30px;
        background: #dda0dd;
        color: #191970;
    }

    /* Navigation */
    header nav {
        padding-top: 10px;
        margin-right: 10px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    /* Navigation Links */
    header nav ul li {
        display: inline-block;
        margin-left: 20px;
    }

    header nav ul li a:hover {
        color: #191970;
        border-radius: 15px;
        text-shadow: none;
    } 
/* End Header */

/* Hero*/
.hero {
    display: flex;
    justify-content: center;
    padding: 10px;
    /* Add hero img */
}
/* End Hero */

/*Content Flexbox Elements*/
.container {
    border-right: solid;
    border-color:#191970;
}

.row {
    display: flex;
    padding: 30px;
    margin-bottom: 20px;;
  }
  
.column {
    flex: 60%;
    background-color: bisque;
    padding: 20px;
  }

/*Content Titles*/
.content-title h2 {
    font-size: 30px;
    padding: 30px;
    color: midnightblue;
    column-width: 30%;
    text-align: right;
}



/* My Work */
.my-work {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

    .projects-grid-wrapper {
        display: flex;
        justify-content: center;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .project h3{
        border: solid;
        color: aqua;
        display: flex;
    }

    /* Hover Highlight on Objects */
    .project:hover {
        opacity: 1.0;
    }

    /* Project Titles */
    .project-label{
        background-color: plum;
        padding: 10px;
        display: flex;
    }
/* End My Work Wrapper */


/* Media queries */
@media screen and (max-width: 500px) {
    .column {
      width: 90%;
    }
  }