/* Global */
* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
    padding: 10px;
    color: #191970;
}

/* Page Title */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #dda0dd;
    color: #191970;
  }

/* Navigation */
header nav {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Navigation Links */
header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a:hover {
    color: #191970;
    border-radius: 15px;
    text-shadow: none;
} 

/* Subtitle */
.subtitle {
    display: flex;
    justify-content: center;
    padding: 10px;
}
/* Add subtitle img? */

/* Content Section*/
    .content {
        min-height: 100%;
        justify-content: right;
        padding: 10px;
        min-width: 90%; /* Review this */
        max-width: 90%; /* Review this */
    }
    
    .content-title h2 {
        font-size: 28px;
        padding: 10px;
        color: midnightblue;
    }

    /* About Me */
    .about-me {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-left: 20px;
    }
    /* About Me img*/

    /* My Work */
    .my-work {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-left: 20px;
    }
        /* First Application Title */
        /* First Application Link */
        /* Other Application Titles */
        /* Other Application Links */

    /* Contact Me */
    .contact-me {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding-left: 20px;
    }